
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for placing an order with Jungle, <%= @order.email %>!</h1>
    <p>
      You have successfully placed an order with Jungle,
      your order number is: <%= @order.id %>.<br>
    </p>
    <p>Thanks for using Jungle and have a great day!</p>
  </body>
</html>