// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}
a {
  color: #777;
}

span.label {
  font-size: 15px;
  font-weight: normal !important;
  font-family: Helvetica!important;
  line-height: 3.2;
}